################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MediScore-Calculations/FileContentIndex/8589f1da-174c-4718-babd-02a324f745c1.vsidx
